<h1>Listing Blog Posts</h1>
<p>Welcome, <%= current_user.username %>!</p>

<p>
  
</p>

<div class="row">
  <% @blog_posts.each do |blog_post| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to blog_post.title, blog_post %>
        </div><!-- panel-heading -->
        <div class="panel-body">
          by <%= link_to blog_post.user.username %><br />
          <p><em><span class="posted-at">posted at: <%= blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></span></em></p>
          <p><%= blog_post.blog_entry[0..250] %>...[<%= link_to "READ MORE", blog_post %>]</p>
        </div><!-- panel-body -->
        <div class="panel-footer index-blog-footer">
          <% if current_user.id == blog_post.user.id %>
          <%= link_to edit_blog_post_path(blog_post) do %>
          <button class="btn btn-warning"><i class="fa fa-pencil"></i> Edit</button>
          <% end %>
          <%= link_to blog_post, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
          <% end %>
          <% else %>
          <div class="ptop-5">
            <%= link_to user_posts_path(id: blog_post.user.id) do %>
            <i class="fa fa-eye"></i> Read More Posts by <%= blog_post.user.username %>
            <% end %>
          </div>
          <% end %>


        </div><!-- panel-footer -->
      </div><!-- panel-default -->
    </div><!-- col-md-6 -->
  <% end %>
</div><!-- row -->