<h1><%= @user.username %>'s Posts</h1>

<div class="row">
	<% @user.blog_posts.each do |blog_post| %>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to blog_post.title, blog_post %>
			</div>
			<div class="panel-body">
				<p>by <%= blog_post.user.username %></p>
				<p><%= blog_post.blog_entry[0..150].html_safe %> <%= link_to "...", blog_post %></p>
			</div>
			<div class="panel-footer">
				<% if current_user.id == blog_post.user.id %>
					<%= link_to edit_blog_post_path(blog_post) do %>
						<button class="btn btn-warning"><i class="fa fa-pencil"></i> Edit</button>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>